# links follow
Options +FollowSymlinks 
# rewrite Apache activate
RewriteEngine On

# /accueil -> /controller/home_controller.php
RewriteRule ^accueil$ controller/home_controller.php [L]

# /sales -> /controller/sales_controller.php
RewriteRule ^sales$ controller/sales_controller.php [L]
